# Transmission - Variables de entorno
TRANSMISSION_USER=admin
TRANSMISSION_PASS=CAMBIAR_PASSWORD

# Rutas de descarga (ajustar al nuevo disco/usuario)
DOWNLOADS_DIR=/home/santiagopaleka/Descargas
WATCH_DIR=/home/santiagopaleka/torrents
